# Core
streamlit>=1.42.0
psycopg2-binary>=2.9.10
sqlalchemy>=2.0.38
pandas>=2.2.3
numpy>=2.2.2

# Autenticação
streamlit-authenticator
firebase-admin
pyrebase4
pyjwt>=2.10.1
werkzeug>=3.1.3

# PDF e Excel
reportlab>=4.3.0
pypdf2>=3.0.1
openpyxl>=3.1.5
xlrd>=2.0.1

# Pagamentos
stripe>=11.5.0

# Email
sib-api-v3-sdk
sendgrid

# Visualização
plotly>=6.0.0

# Utilitários
humanize>=4.11.0
unidecode>=1.3.8
schedule>=1.2.2
requests
streamlit-extras
