
anthropic>=0.45.2
humanize>=4.11.0
mercadopago>=2.2.3
numpy>=2.2.2
openai>=1.61.1
openpyxl>=3.1.5
pandas>=2.2.3
plotly>=6.0.0
psycopg2-binary>=2.9.10
pyjwt>=2.10.1
pypdf2>=3.0.1
reflex>=0.7.6
reportlab>=4.3.0
schedule>=1.2.2
sqlalchemy>=2.0.38
streamlit>=1.42.0
stripe>=11.5.0
trafilatura>=2.0.0
twilio>=9.4.4
unidecode>=1.3.8
werkzeug>=3.1.3
xlrd>=2.0.1
zipfile36>=0.1.3
reportlab
firebase-admin
streamlit-authenticator
pyrebase4
streamlit-authenticator
pandas
psycopg2-binary
streamlit
sendgrid
sendgrid
stripe
requests
